#logo{
    height:80px;
    width:80px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin:auto;
    margin-top:55px;
    position: relative;
}
#logo img{
    height:100%;
    width:100%;
}
/*第二部分*/
#fm{
    padding:30px;
}
#fm form{
    width:100%;
}
#fm form input{
    width:100%;
    height:50px;
    border:none;
    outline:none;
    margin-bottom:10px;
    border-bottom:1px #FF5000 solid;
    font-size: 17px;
    color: #B5B5B5;
}
#ip-1{
    position: relative;
    padding-top: 20px
}
#fm-3{
    height:80px;
    width:100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
    padding-top: 15px;
}
#fm-4{
    width:100%;
    height: 50px;
    border-radius: 25px;
    background-color: #FF5C00;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
